<h1>Update <%@word.word%></h1>

<form action="/words/<%=@word.id%>" method="post">
<input name="_method" type="hidden" value="patch">
<input name="_method" type="hidden" value="delete">
  <div class="form-group">
    <label for="word">Change Word</label>
    <input id="w" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-primary">Update word!</button>
  <button type="submit" class="btn btn-danger">Delete word!</button>
</form>

<p><a href = "/words">Return to the list of words</a></p>