<h1>Add a word</h1>
<form action="/words" method="post">
  <div class="form-group">
    <input required id="w" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-primary mt-3">Add word!</button>
</form>
