<a href="/">Return to word list</a>
<h1>Add a word</h1>
<form action="/words" method="post">
  <div class="form-group">
    <label for="word">Word</label>
    <input id="w" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-primary">Add word!</button>
</form>
