<h1>Words</h1>

<% if @words.any? %>
  <ul>
    <% @words.each do |word| %>
      <li><a href="/words/<%=word.id%>"><%= word.word %></a></li>
    <% end %>
  </ul>
<% else %>
<p>There are no words to display, add one!</p>

<% end %>
<a href ="/words/new">Add a new word</a>