<h1>Words</h1>

<% if @words.any? %>
  <ul>
    <% @words.each do |word| %>
      <li><%= word.word %></li>
    <% end %>
  </ul>
<% else %>
<p>There are no words to display, add one!</p>

<a href ="/words/new">Add a new word</a>
<% end %>